
<a href="/users/<%=@user_id%>">Back to Profile</a>

<h1 class="text-white"> Follow Whats Happening On Twitter </h1>

<% @sorted_tweets.each do |each_tweet| %>
<ul class="text-white">
 user: <%=each_tweet.user.username %>   <form class="button_class" action="/users/<%=each_tweet.user.id%>/followers" method="POST">
                                          <input type="submit" value="Follow this User">
                                        </form>
<br>
  tweet: <%=each_tweet.body%> <form action="/users/<%=each_tweet.id%>/tweets" method="POST">
      <input type="submit" value="Retweet">
</form>
<br>



</ul>
  <% end %>
